*.log
*.aux
*.out
*.bak
*.ipynb_checkpoints
*.bbl
*.blg
*.synnctex.gz
*.ipynb_checkpoints
*Analysis/tempfiles/
tempfiles/
*.tempfiles/
*tempfiles/
*.sublime-project
*.sublime-workspace
*.bib~
*.html
*.dat
*temp/
*data/
*data_simulated/
*__pycache__/
*temp.py