*.log
*.aux
*.out
*.bak
*.ipynb_checkpoints
*.bbl
*.blg
*.synnctex.gz
*.ipynb_checkpoints
*Analysis/tempfiles/
tempfiles/
*.sublime-project
*.sublime-workspace
*.bib~
*.html
*.dat
*data/
*data_simulated/
*__pycache__/
*temp*
*changepoint_program/
*azurin.code-workspace